<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ionic Apk Generator</title>

    <!-- Configure on 'bundle.config.js' file -->
    <script src="./bundle.min.js"></script>
    <script src="./ionic.apk.js"></script>

</head>

<body>

    <div class="container py-3">

        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
        </div>

        <div style="background: #212121;color: #64DD17;">
            <span>
                c:\flutter> flutter doctor
            </span>
        </div>
    </div>

</body>

</html>